Protocol 2
UsePrivilegeSeparation no
UsePAM no
RhostsRSAAuthentication no
HostbasedAuthentication no
IgnoreUserKnownHosts yes
GSSAPIAuthentication no
ListenAddress 127.0.0.1
KeyRegenerationInterval 3600
ServerKeyBits 1024

AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
AuthorizedKeysFile ssh2-python/embedded_server/authorized_keys
